body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }

.pre-testimonials {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

.pre-testimonials h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.pre-testimonials p {
    font-size: 1.5rem;
}

.testimonials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.testimonial {
    box-sizing: border-box;
    width: calc(33.33% - 20px);
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.testimonial-text {
    padding: 10px;
    text-align: center;
}

.testimonial img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.testimonial p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .testimonial {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .testimonial {
        width: 100%;
    }
}
